<html>
    <head>
        <title>home</title>
    </head>
    <body>
        <p>Hello this is just a simple deployed nodejs application</p>
        <hr>
        <a href="/checkout">check out</a>
    </body>
</html>